@font-face {
    font-family: 'Optical Sans';
    src: url('Optician-Sans.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100vw;
    height: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

p{
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 50px;
	color: #000;
	font-weight: bold;
	z-index: 6;
}

#video {
    position: absolute;
    top: calc(50%-160px);
    left: calc(50%-160px);
    width: 320px;
    height: 320px;
    object-fit: cover;
    z-index: 1;
}

#canvasElement {
    position: absolute;
    top: calc(50%-160px);
    left: calc(50%-160px);
    width: 320px;
    height: 320px;
    z-index: 2;
    pointer-events: none;
}

#dynamic-text {
    color: #000;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-family: 'Optical Sans';
    z-index: 0;
    font-weight: bold;
    line-height: 1.5;
    overflow-y: auto;
    max-height: 100%;
}

.container {
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    #dynamic-text {
        grid-template-columns: repeat(3, minmax(100px, 1fr));
    }

    #video, #canvasElement {
        width: 320px;
        height: 320px;
    }
}

